.followBtn{
    background: dodgerblue;
    border-radius: 50px;
    max-width: 150px;
    border: 0px;
    outline: 0px;
    padding: 8px 25px;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
    color: white;
    

    span{
        padding-right: 8px;
    }

    &:hover{
        background: rgb(0, 110, 219);
    }
}