.unfollow{
    &:hover{
        background: #dd0101;
        color: white;
        border: 1px solid #dd0101;
        span, div{
            display: none;
        }
        &:before {
            content:"Unfollow"
        }
    }
}