.globalFeedContainer{
    padding: 10px;
    height: 100vh;
    overflow: auto;

    .comment-area{
        display: flex;
        flex-direction: column;
        
       
        button{
            align-self: flex-end;
            margin: 8px 0px 8px 0px;
            width: 150px;
        }
    }

    .ant-comment-nested{
        .ant-comment-inner{
            padding: 0;
        }
    }
}
