.globalFeedContainer{
    padding: 10px;
    height: 100vh;
    overflow: auto;

    .radius-selector{
        padding-bottom: 8px;
    }

    .comment-area{
        display: flex;
        flex-direction: column;
        
       
        button{
            align-self: flex-end;
            margin: 8px 0px 8px 0px;
            width: 150px;
        }
    }

    
}
