.profileContainer{
    display: flex;
    flex-direction: column;
    padding: 10px;

    .userInfo{
        display: flex;
        flex-direction: row;
        height: 170px;
        
        .userImg{
            display: flex;
            justify-content: center;
            align-items: center;
            
            img{
                height: 102.4px;
                width: 102.4px !important; //dunno why i need to do this
                border-radius: 50%;
            }

            .ant-upload, img{
                border-radius: 50%;
                
            }
           
            
        }
        .userDetails{
            display: flex;
            flex-direction: column;
            padding-left: 20px;
            
            .userSocial, .userName, .userLocation{
                display: flex;
                flex-direction: row;
            }

            .userName{
                font-size: 25px;
                padding: 5px 0px;
                font-weight: bold;
            }

            .userLocation{
                font-size: 15px;
                padding: 5px 0px;
                span{
                    position: relative;
                    top: 2px;
                }
            }

            .userSocial{
                padding: 5px 0px;
                font-size: 40px;
                .userSocialIcons{
                    padding: 0px 15px 0px 0px;
                    transition: 0.3s all ease-in-out;
                    &:hover{
                        transform: scale(1.3);
                        color: dodgerblue;
                    }
                }
            }

            .follow{
                display: flex;
                flex-direction: row;
                *{
                    padding-right: 10px;
                }
            }

            .messageUser{
                padding: 5px 0px;
                button{
                    width:150px;
                    border-radius: 50px;
                    height: 50px;
                    outline: 0px;
                }
            }

        }
    }

    

}