.mapContainer {
    height: calc(100vh - 120px);
    position: relative;

    .mapboxgl-popup, .mapboxgl-popup-anchor-top{
      max-width: none !important;

      .mapboxgl-popup-content{
        padding: 0px;
      }
  }
}

