.eventlist{

    .ant-spin-nested-loading{
        height: calc(100vh - 170px); 
        overflow: auto;
    }
    
    .ant-list-item-action{
        li:first-child{
            padding: 0 30px;
        }
        li{
            padding: 0 30px;
        }
    }

    .event-details{
        .event-venue{
            font-weight: bold;
        }
    }
    
    
}