.notifications-container{
    padding: 10px;
    min-height: 100vh;
    background: whitesmoke;

    .ant-list-item{
        background: white;
        padding: 10px;
        border-radius: 8px;
        margin-bottom: 8px;
    }

    h4{
        div{
            font-weight: 400;
        }
    }
}